extends layout

block content
    body
        nav(class='d-flex  flex-md-row  navbar navbar-dark navbar-expand-sm p-3 px-md-4 mb-3')
            div(class='navbar-brand d-none d-md-block my-0 mr-md-auto' href='/')
                img(src='/images/logo_polimi.png' alt='Polimi Logo' height='80px')
            div(class='navbar-brand d-md-none d-block  my-0 mr-md-auto' href='/')
                img(src='/images/logo_polimi_mobile.png' alt='Polimi Logo' height='80px')
            button(class='navbar-toggler ' type='button' data-toggle='collapse' data-target='#Navbar')
                span(class='navbar-toggler-icon')
            #Navbar(class='collapse navbar-collapse justify-content-stretch ' style='margin-bottom: 20px;')
                ul(class='navbar-nav ml-auto')
                    li(class='nav-item')
                        a(class='nav-link' href='/')
                            span(class='fa fa-home fa-lg')
                            | Home
                    li(class='nav-item')
                        a(class='nav-link' href='about')
                            span(class='fa fa-info-circle fa-lg')
                            | About
                    li(class='nav-item')
                        a(class='nav-link' href='/instructions/EVOLI_InstructionsOfUse.pdf' target='_blank')
                            span(class='fa fa-book fa-lg')
                            | Instruction
                    li(class='nav-item active')
                        a(class='nav-link' href='credits')
                            span(class='fa fa-at fa-lg')
                            | Credits
        div(class='row align-items-center')
            div(class='col-11 col-md-6 my-auto' style='font-size: 1.35vw;')
                ul(style='list-style-type:disc;')
                    li(style='color: #ffc107')
                        p(style='color:white;')
                            b(style='color:#ffc107') Scientific supervision:
                            | Nicoletta Di Blas
                    li(style='color: #ffc107')
                        p(style='color:white;')
                            b(style='color:#ffc107') Experience design:
                            | Vera Calchi, Nicoletta Di Blas, Aldo Torrebruno
                    li(style='color: #ffc107')
                        p(style='color:white;')
                            b(style='color:#ffc107') Graphic design:
                            | Clorinda Sissi Galasso, Edoardo Putti
                    li(style='color: #ffc107')
                        p(style='color:white;')
                            b(style='color:#ffc107') Implementation: 
                            | Raffaele Lorini, Diego Peruselli, Edoardo Putti
                    li(style='color: #ffc107')
                        p(style='color:white;')
                            b(style='color:#ffc107') Educational consultancy:
                            | Michela Pelizzari
            div(class='col-12 col-md-6 ')
                img(src='images/login.png' class='img-fluid' alt='student' style='max-width: 90%;')
