extends layout

block content
    body(style="height: fit-content;")
        nav(class="d-flex  flex-md-row  navbar navbar-dark navbar-expand-sm p-3 px-md-4 mb-3  ")
            div(class="navbar-brand d-none d-md-block my-0 mr-md-auto" href="index.html")
                img(src="../images/logo_polimi.png" alt="Polimi Logo" height="80px")
            div(class="navbar-brand d-none d-md-block " target="_blank")
                img(src="../images/logo_else.png" alt="Else Logo" height="60px")
            div(class="navbar-brand d-md-none d-block  my-0 mr-md-auto" href="index.html")
                img(src="../images/logo_polimi_mobile.png" alt="Polimi Logo" height="80px")
            button(class="navbar-toggler " type="button" data-toggle="collapse" data-target="#Navbar")
                span(class="navbar-toggler-icon")
            #Navbar(class="collapse navbar-collapse justify-content-stretch " style="margin-bottom: 20px;")
                ul(class='navbar-nav ml-auto')
                    li(class='nav-item')
                        a(class='nav-link' href='/')
                            span(class='fa fa-home fa-lg')
                            | Home
                    li(class='nav-item ')
                        a(class='nav-link' href='about')
                            span(class='fa fa-info-circle fa-lg')
                            | About
                    li(class='nav-item')
                        a(class='nav-link' href='/instructions/EVOLI_InstructionsOfUse.pdf' target='_blank')
                            span(class='fa fa-book fa-lg')
                            | Instruction
                    li(class='nav-item ')
                        a(class='nav-link' href='credits')
                            span(class='fa fa-at fa-lg')
                            | Credits
        div(class="row d-flex justify-content-center" style="margin-top: 30px;")
            div(class="col-12 col-lg-6  justify-content-center d-none d-lg-block")
                img(src="../images/home.png" class="img-fluid" alt="home" style="max-width: 90%;")
            div(class="col-10  col-lg-6  justify-content-center " style="text-align: center; color: white;  margin-top: 70px; font-size: larger;")
                h1(style="color:#ffc107; font-size: 300%;") Thank you for using EVOLI!
                h5(style="font-size: 150%;") Your reactions have been saved successfully.
                br
                a#linkOver(role="button" class="btn btn-lg btn-warning rounded-pill" style="color: whitesmoke;" href='/student') &nbsp;&nbsp; 
                    strong  Watch another video
                    | &nbsp;&nbsp;
                | &nbsp;
                br
                br
                p The tool is being developed in the frame of the European research project ELSE
