doctype html
html
  head
    title= title
    meta(name='viewport' content='width=device-width initial-scale=1')
    meta(name="author" content="Edoardo Putti polimi student")
    link(rel="icon" type="image/png" sizes='16x16 32x32 48x48 64x64' href="/images/final_icon.png")
    link(rel="stylesheet", href="/stylesheets/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous") 
    script(src="https://code.jquery.com/jquery-3.6.0.slim.js") 
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js") 
    body(style="background: #f3f2ef")
        nav(class='d-flex  flex-md-row  navbar navbar-dark navbar-expand-sm p-3 px-md-4 mb-3' style="background: slategrey")
            div(class='navbar-brand d-none d-md-block my-0 mr-md-auto' href='/')
                img(src='/images/logo_polimi.png' alt='Polimi Logo' height='80px')
            div(class='navbar-brand d-md-none d-block  my-0 mr-md-auto' href='/')
                img(src='/images/logo_polimi_mobile.png' alt='Polimi Logo' height='80px')
            button(class='navbar-toggler ' type='button' data-toggle='collapse' data-target='#Navbar')
                span(class='navbar-toggler-icon')
            #Navbar(class='collapse navbar-collapse justify-content-stretch ' style='margin-bottom: 20px;')
                ul(class='navbar-nav ml-auto')
                    li(class='nav-item')
                        a(class='nav-link' href='/')
                            span(class='fa fa-home fa-lg')
                            | Home
                    li(class='nav-item ')
                            a(class='nav-link' href='/about')
                                span(class='fa fa-info-circle fa-lg')
                                | About
                    li(class='nav-item')
                            a(class='nav-link' href='/instructions/EVOLI_InstructionsOfUse.pdf' target='_blank')
                                span(class='fa fa-book fa-lg')
                                | Instruction
                    li(class='nav-item ')
                            a(class='nav-link' href='/credits')
                                span(class='fa fa-at fa-lg')
                                | Credits 
        div(class='container' style="padding-top: 70px")
            div(class='row justify-content-center')
                div(class='col-md-4 col-md-offset-4')
                    div(class='panel panel-default')
                        div(class='panel-body')
                            div(class='text-center')
                                h3
                                    i(class='fa fa-lock fa-4x')
                                h2 Forgot your password?
                                p Remember to check also your spam inbox
                                if errors
                                    for error in errors 
                                        div(class="alert alert-danger")!= error.msg
                                if success 
                                    div(class="alert alert-success")!= success
                                div(class='panel-body')
                                    form#register-form(role='form' autocomplete='off' class='form' method='post')
                                        div(class='form-group')
                                            div(class='input-group')
                                                div(class='input-group-prepend')
                                                    div(class='input-group-text') 
                                                        i(class='fa fa-envelope')
                                                input#email(name='email' placeholder='email address' class='form-control' type='email')
                                        div(class='form-group')
                                            input(name='recover-submit' class='btn btn-lg btn-primary btn-block' value='Reset Password' type='submit')
                                        
